<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home - Redis / Python / Flask - Practice </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" id="bootstrap-css">
</head>
  <body class="pt-5">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a href="{{ url_for("main_page") }}" class="navbar-brand">
        <img src="https://metalmassacre.sirv.com/Images/logoredis.png?h=60&format=webp&webp.fallback=png&png.optimize=true" width="90" height="60" srcset="https://metalmassacre.sirv.com/Images/logoredis.png?h=60&format=webp&webp.fallback=png&png.optimize=true 1x, https://metalmassacre.sirv.com/Images/logoredis.png?h=120&format=webp&webp.fallback=png&png.optimize=true 2x" alt="" />
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ github_repo }}">Github Repo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More?</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Nothing in my pockets, </a>
            <a class="dropdown-item" href="#">nothing up my sleeves.</a>
            <a href="{{ url_for('get_posts_html') }}" class="dropdown-item">Client</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron -->
    <div class="container py-3">
        <div class="container p-4"></div>
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="display-3">Reddit CopyCat API Documentation</h1>
                <p>Below you'll find every command used to retrieve information from the Redis DB.</p>
                <p><a class="btn btn-primary btn-sm" href="#full_documentation" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

    </div>

  <div class="container" id="full_documentation" >
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h3>Technologies Used</h3>
                <p><i class="fab fa-python"></i> Python 3.6 / Flask 1.1.1</p>
                <p><i class="fas fa-database"></i> Redis 5.0.5</p>
                <p><i class="fab fa-bootstrap"></i> Bootstrap 4.3.1</p>
        </div>
        <div class="col-md-6">
            <h3>Allowed HTTPs requests</h3>
            <ul class="list-unstyled">
                <li><pre>PUT    : Create a new "Reddit" Post</pre></li>
                <li><pre>POST   : Update the Vote Count of a Post</pre></li>
                <li><pre>GET    : Get a post or list of post</pre></li>
                <li><pre>DELETE : To delete a Post</pre></li>
            </ul>
      </div>
    </div>

    <div class="row">
          <div class="col-2">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action py-2 active" id="list-get-list" data-toggle="list" href="#list-get" role="tab" aria-controls="get">GET</a>
              <a class="list-group-item list-group-item-action py-2" id="list-post-list" data-toggle="list" href="#list-post" role="tab" aria-controls="post">POST</a>
              <a class="list-group-item list-group-item-action py-2" id="list-put-list" data-toggle="list" href="#list-put" role="tab" aria-controls="put">PUT</a>
              <a class="list-group-item list-group-item-action py-2" id="list-delete-list" data-toggle="list" href="#list-delete" role="tab" aria-controls="delete">DELETE</a>
            </div>
          </div>

          <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-get" role="tabpanel" aria-labelledby="list-get-list">
                  <p><a href="{{ url_for('get_posts') }}"class="badge badge-secondary">/api/posts</a> Get all posts stored on DB</p>
                  <p><span class="badge badge-secondary">/api/r/&lt;community&gt;/&lt;post_id&gt;</span> Get a post stored on DB, if it exists. (Example: /r/uady_community/post:968658748)</p>
              </div>
              <div class="tab-pane fade" id="list-post" role="tabpanel" aria-labelledby="list-post-list">
                  <p><a href="{{ url_for('create_new_post') }}" class="badge badge-secondary">/create_new_post</a> Actually, it's a built-in service that sends you a form to create a new post</p>
              </div>
              <div class="tab-pane fade" id="list-put" role="tabpanel" aria-labelledby="list-put-list">
                  <p><span class="badge badge-secondary">/remove_vote/&lt;post_id&gt;</span> Add a vote to a Post</p>
                  <p><span class="badge badge-secondary">/add_vote/&lt;post_id&gt;</span> Remove a vote or Decrease the vote count of a Post</p>
              </div>
              <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
                  <p><span class="badge badge-secondary">/delete_post/&lt;post_id&gt;</span> Deletes the desired post</p>
              </div>
            </div>
          </div>
    </div>

    <hr>
    <div class="row py-5">

    </div>
  </div> <!-- /container -->

</main>

    <footer class="fixed-bottom text-light bg-dark">
        <div class="container pt-3">
            <p><i class="fas fa-code"></i> Code by Christian Tuyub</p>
            <p><i class="far fa-copyright"></i> Hyperbolic Baby 2015 - 2019</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

</html>